version: '3.1'

services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password
  frontend:
    image: registry.gitlab.com/t-x-t/txts-treasury/frontend:main-0.7.0
    restart: always
    environment:
      API_HOST: http://backend:4000
      HTTP_PORT: 80
    ports:
      - "127.0.0.1:3000:3000"
  backend:
    image: registry.gitlab.com/t-x-t/txts-treasury/backend:main-0.7.0
    restart: always
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PASSWORD: changeme
      DATABASE_NAME: txts_treasury
      ADMIN_PASSWORD: changeme
      PEPPER: changeme
    links:
      - postgres