[package]
name = "backend"
version = "0.9.2"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
deadpool-postgres = "0.10.1"
postgres-types = { version = "0.2.2", features = ["array-impls", "with-chrono-0_4"] }
tokio-postgres = "0.7.5"
postgres-derive = "0.4.1"
actix-web = "4.0.1"
tokio = { version = "1.17.0", features = ["full"] }
sha2 = "0.10.2"
rand = "0.8.5"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
serde_repr = "0.1"
chrono = { version = "0.4.19", features = ["serde"] }
futures-util = "0.3.21"