@font-face
  font-family: "bold"
  font-display: swap
  src: url("./SpaceGrotesk-Bold.ttf")

@font-face
  font-family: "semibold"
  font-display: swap
  src: url("./SpaceGrotesk-Medium.ttf")

@font-face
  font-family: "regular"
  font-display: swap
  src: url("./SpaceGrotesk-Regular.ttf")
  
$dark-darkest: #041910
$dark-darker: #0C3A2B
$dark-dark: #238461
$dark-bright: #54D88D
$dark-brightest: #FFFFFF

$light-darkest: #0C3A2B
$light-darker: #238461
$light-dark: #54D88D
$light-medium: #8BE5B2
$light-bright: #D9FFE8
$light-brightest: #FFFFFF


$dukatia-green: #54D88D
$dukatia-yellow: #F7EA48

$error: #E84444
$warn: #F79148
$success: #54D88D

.bold
  font-family: "bold", sans-serif
  font-size: 1em

.semibold
  font-family: "semibold", sans-serif
  font-size: 1em

.regular
  font-family: "regular", sans-serif
  font-size: 1em