@import "assets/_vars.sass"

html.dark-mode
  background: $dark-darkest
  color: $dark-brightest
  ::selection
    color: $dark-bright
  select, input
    background: $dark-darker
    color: $dark-brightest
    border-bottom: 2px solid $dark-dark
    &:disabled
      opacity: 0.5
  thead
    svg
      &:hover
        color: $dark-bright
  th
    background: $dark-darker
    border-bottom: 2px solid $dark-bright
  tr
    &:nth-child(even) td
      background: $dark-darker
    &:nth-child(odd) td
      background: $dark-darkest
    &:hover td
      background: $dark-dark
  div#input
    svg
      color: $dark-brightest
      &:hover
        color: $dark-bright


html.light-mode
  background: $light-bright
  color: $light-darkest
  ::selection
    color: $light-dark
  thead
    svg
      &:hover
        color: $light-bright
  th
    background: $light-dark
    border-bottom: 2px solid $light-darkest
  tr
    &:nth-child(even) td
      background: $light-bright
    &:nth-child(odd) td
      background: $light-medium
    &:hover td
      background: $light-dark
  div#input
    svg
      color: $light-darkest
      &:hover
        color: $light-darker
  
*
  margin: 0
  padding: 0
  text-decoration: none
  transition-duration: .1s

html
  scroll-behavior: smooth
  overflow-x: hidden !important
  scrollbar-width: thin
  position: relative

p, span
  @extend .semibold

li
  list-style-type: none

button
  @extend .semibold
  border: none
  cursor: pointer
  font-size: 16px
  
button.important
  @extend .bold
  border-radius: 100px 
  background: $dukatia-yellow
  color: black
  font-size: 30px
  padding: 10px 29px 10px 29px
  &:hover
    box-shadow: 0px 0px 32px $dukatia-yellow
  
button.less_important
  @extend .bold
  border-radius: 100px 
  border: 2px solid $dark-darkest
  background: none
  color: black
  font-size: 30px
  padding: 10px 29px 10px 29px
  &:hover
    box-shadow: 0px 0px 4px $dark-darkest


select
  @extend .semibold
  margin: 4px
  border-radius: 0px
  border: none
  color: black
  font-size: 14px
  &:disabled
    opacity: 0.25

option
  font-size: 12px

input
  @extend .semibold
  border: none
  padding: 2px 4px 2px 4px
  margin: 4px
  font-size: 14px
  &:disabled
    color: black

h1, h2, h3, h4, h5
  @extend .bold

h2
  font-size: 40px

h3
  font-size: 36px

h4
  font-size: 32px

h5
  font-size: 20px
  
th
  @extend .semibold
  font-size: 20px

tbody
  @extend .regular
    
label
  @extend .semibold

a
  @extend .semibold
  color: white
  margin: 10px
  &:hover
    color: $dark-bright

@media screen and (max-width: 800px)
  .mobile_hidden
    display: none